*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    height: 75px;
    font-size: 2em;
    border-bottom: 3px solid #333333;
    box-shadow: #333333 0px 2px 5px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.container{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

    width: 100%;
    padding: 20px;
}

.container h2{
    font-size: 2.5em;

    
}

.container p{
    font-size: 1.2em;

    
}

.box{
    color: #FFFFFF;
    background-color: #333333;
    padding: 20px;
    border-radius: 10px;
    
}
    
.box-left{
    color:  #333333;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.box-right{
    color: #FFFFFF;
    background-color: #333333;
    padding: 20px;
    width: 40%;
    border-radius: 10px;
    text-align: right;
    display: flex;
    align-items: right;
    flex-direction: column;
}


.form-container{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: right;
    padding: 20px;
}

form label{
    
    margin-bottom: 5px;
    font-size: 1.6em;
}

form input{

    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 20px;

    width: 50%;
}

form button{
    padding: 10px;
    font-size: 1.5em;
    border: none;
    width: 50%;
    border-radius: 20px;
    background-color: #FFFFFF;
    color: #333333;
    cursor: pointer;

    margin-bottom: 20px;
}
